<html lang="en">

	<head>
		<meta charset="utf-8" />
		<title>{{user.userName}}</title>
	</head>
	<body>
		<main class="account page two-column">
			<div class="left top">
				<div class="account-details standard-card">
					<img
						class="profile-pic"
						alt="profile picture"
						src="https://i.imgur.com/0LpVMsK.png"/>
					<h6 class="accent">{{user.userName}}</h6>

					<div class="userInfo">
						<p>{{user.firstName}} {{user.lastName}}</p>
						<p>{{user.userDob}}</p>
						<p>{{user.userEmail}}</p>
					</div>

				</div>
			</div>
			<div class="right bottom">
				<h2>{{user.userName}}'s Art</h2>
				<button>See For Purchase</button>
				<button>See All</button>
				<div class="post-container">
					{{#each artItems}}
					
					<div class="post" href="/item/{{this._id}}">
						<a href="/item/{{this._id}}">
							<img src="{{this.imageSource}}" alt="{{this.artTitle}}" />
						</a>

						<div class="details">
							<h5>Title: {{this.artTitle}}</h5>
							<h6>Artist: {{this.artist}}</h6>
							<p>Description: {{this.artDescription}}</p>
						</div>
					</div>
					{{/each}}
					
					
				</div>
			</div>
		</main>
	</body>
</html>