<html lang="en">

	<head>
		<meta charset="utf-8" />
		<title>{{username}}</title>
	</head>
	<body>
		<main class="account page two-column">
			<div class="left top">
				<div class="account-details standard-card">
					<img
						class="profile-pic"
						alt="profile picture"
						src="https://i.imgur.com/0LpVMsK.png"
					<h6 class="accent">{{username}}</h6>

				</div>
			</div>
			<div class="right bottom">
				<h2>{{username}}'s Art</h2>
				<div class="post-container">
					{{#each artItems}}
					
					<div class="post" href="/item/{{this._id}}">
						<img src="{{this.imageSource}}" alt="art-image" />
						<div class="details">
							<h6>{{this.artTitle}}</h6>
							<h7>{{this.artist}}</h7>
							<p>{{this.artDescription}}</p>
						</div>
					</div>
					{{/each}}
					
					
				</div>
			</div>
		</main>
	</body>
</html>