<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>{{artTitle}}</title>
	</head>
	<body>
		<main class="art-item">
			<div class="img-container">
				<img src="{{imageSource}}" id="art-image" />
			</div>
			<div class="info">
				<div class="std-card">
					<h2>{{artTitle}}</h2>
					<a href="/account/{{artistId}}">
					<p>By @{{artist}}</p>
					</a>
					<p class="genre">{{typeGenre}}</p>
					<p>{{artDescription}}</p>

					<div class="sub-info">
						<p>Rating: {{artRating}}</p>
						<p>Number of Ratings: {{numRatings}}</p>
						<form id="rating-form">
							<input
								type="hidden"
								name="artId"
								id="artId-input"
								value="{{artId}}"
							/>
							<label for="rating">Rate this art</label>
							<select id="rating-input" name="rating">

								<option value="none" selected disabled hidden>Select</option>
								<option value="0">0</option>
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
							</select>
						</form>
						<button
							
							id="rating-form-button"
							
						>Submit</button>
					</div>
				</div>
				{{#if forSale}}
					<div class="for-sale">

						<h4>For Sale:</h4>
						<p>${{setPrice}} USD</p>
						<a href="/purchaseItem/{{artId}}">Click here to purchase!</a>
					</div>
				{{/if}}
				{{#if purchased}}
					<div class = "purchased-text">
						<p>This piece has been purchased!</p>
				{{/if}}

				<h6>Comments:</h6>
				<form id="comment-form" method="POST" action="/item/comment">
				<input
								type="hidden"
								name="artId"
								id="artId-input"
								value="{{artId}}"
							/>
				<input
								type="hidden"
								name="userId"
								id="userId-input"
								value="{{loggedInUser}}"
							/>
					<input type="text" name="comment" id="comment-input" placeholder="Leave A Comment" />
					<input type="submit" value="Send" />
				</form>
					{{#each comments}}
					<p>@{{this.userName}}: {{this.message}}</p>
					{{/each}}
			</div>
		</main>
		<script src="/public/js/updateArtRating.js"></script>
	</body>
</html>