<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>{{artTitle}}</title>
	</head>
	<body>
		<main class="art-item">
			<div class="img-container">
				<img src="{{imageSource}}" id="art-image" />
			</div>
			<div class="info">
				<div class="std-card">
					<h2>{{artTitle}}</h2>
					<p>By {{artist}}</p>
					<p>here is a super dope pic</p>

					<div class="sub-info">
						<p>Rating: {{artRating}}</p>
						<form method="POST" action="/item/rateArt">
							<label for="rating">Rate this art</label>
							<select id="rating" name="rating">
								<option value="0">0</option>
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
							</select>
							<input type="submit" value="submit" />
						</form>
						<p class="genre">{{typeGenre}}</p>
					</div>
				</div>
				{{#if forSale}}
					<div class="for-sale">

						<h4>For Sale:</h4>
						<p>${{setPrice}} USD</p>
						<a href="{{purchasePage}}">Click here to purchase!</a>
					</div>
				{{/if}}
				<h6>Comments:</h6>
			</div>

		</main>
	</body>
</html>