<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>{{artTitle}}</title>
	</head>
	<body>
		<main class="art-item">
			<div class="img-container">
				<img src="{{imageSource}}" id="art-image" />
			</div>
			<div class="info">
				<div class="std-card">
					<h2>{{artTitle}}</h2>
					<a href="/account/{{artistId}}">
					<p>By @{{artist}}</p>
					</a>
					<p class="genre">{{typeGenre}}</p>
					<p>{{artDescription}}</p>

					<div class="sub-info">
						<p>Rating: {{artRating}}</p>
						<form id="rating-form">
							<input
								type="hidden"
								name="artId"
								id="artId-input"
								value="{{artId}}"
							/>
							<label for="rating">Rate this art</label>
							<select id="rating-input" name="rating">
								<option value="0">0</option>
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
							</select>
						</form>
						<button
							type="submit"
							id="rating-form-button"
							value="submit"
						>Submit</button>
					</div>
				</div>
				{{#if forSale}}
					<div class="for-sale">

						<h4>For Sale:</h4>
						<p>${{setPrice}} USD</p>
						<a href="{{purchasePage}}">Click here to purchase!</a>
					</div>
				{{/if}}
				<h6>Comments:</h6>
			</div>
		</main>
		<script src="/public/js/updateArtRating.js" type="text/javascript"></script>
	</body>
</html>