<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>{{artTitle}}</title>
	</head>
	<body>
		<main class="page">
			<div class="post-container">
				<h1>Welcome to Art Point</h1>
				<p>
					Our purpose is to create a social media web application dedicated to users
					who are art enjoyers or artists.
				</p>
				
				{{#each artItems}}
					<div class="post">
						<a href="/item/{{this._id}}">
							<img src="{{this.imageSource}}" alt="{{this.artTitle}}"/>
						</a>

						<div class="details">
							<h5>Title: {{this.artTitle}}</h5>
							<h6>Artist: {{this.artistName}}</h6>
							<p>Description: {{this.artDescription}}</p>
						</div>
					</div>
				{{/each}}
			</div>
		</main>
	</body>
</html>


