<main class="page">
    <div class = "username-container">
        {{#if error}}
        <div class "search-error">
            <p>{{error}}</p>
        </div>
        {{else}}

        {{#each users}}
            <div class="account__post">
                <div class="">
                    <a class="account__link" href="/account/{{_id}}">
                        <div class="account__name">{{firstName}} {{lastName}}</div>
                        <div class="account__username">@{{userName}}</div>
                    </a>
                </div>
            </div>
        {{/each}}
        {{/if}}
    </div>
</main>
